<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      
      <a href="./Principal" class="navbar-brand">Sala de Juegos</a>
    </div>
  
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menú de Juegos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/Juegos/Adivina">Adivina</a></li>
            <li><a routerLink="/Juegos/Agilidad">Agilidad</a></li>
            <li><a routerLink="/Juegos/Agilidad">Piedra Papel Tijera</a></li>
            <li><a routerLink="/Juegos/Agilidad">MemoTec</a></li>
            <li><a routerLink="/Paises">Paises</a></li>
            <li><a routerLink="/Animales">Animales</a></li>
           <!-- <li><a href="#">Adivina+Listado</a></li>
            <li><a href="#">Agilidad+Listado</a></li>-->
          </ul>
        </li>
        <li>
          <a routerLink="/QuienSoy">Mis datos</a>
        </li>
        <li>
          <a routerLink="/Principal">Salir</a>
        </li>
        
      </ul>

  </div>
</header>