
<app-menu></app-menu>
<form id="msform">    
  <fieldset>
      <div class="container">

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>usuario</th>   
              <th>gano</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of listado" >
              <td>{{jugador.usuario}} </td>
              <td>{{jugador.gano}} </td>       
            </tr>   
          </tbody>
      </table>

    </div>          
  </fieldset>  
</form>