<div style="text-align:center">
  <h1 class="titulo">{{nuevoJuego.nombre}}</h1>
</div>
<form id="msform"> 
<fieldset>
 <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-12">     
          <button [hidden]="mostrarFotos && juegoEmpezado" (click)="jugar()"  name="next" class="next action-button" >Jugar!</button>  
          <div *ngIf="mostrarFotos && juegoEmpezado">
              <div class="box">
                  <h2 style="text-align: center;"> Tiempo: {{tiempo}}</h2>                    
              </div> 
          </div>
      </div>          
      <div class="col-sm-1"></div> 
 </div> 
 <br>
 <div class="row">    
    <div class="col-sm-1"></div> 
    <div class="col-sm-11">                     
       <div *ngIf="mostrarFotos && juegoEmpezado">
              <div class="row">
                  <h1>1</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[0]['path']}}" width="150px" height="100px" /></div>
                  <h1>2</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[1]['path']}}" width="150px" height="100px" /></div>
                  <h1>3</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[2]['path']}}" width="140px" height="100px" /></div>
                  <h1>4</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[3]['path']}}" width="140px" height="100px" /></div>
              </div>  <br>                 
              <div class="row">
                  <h1>5</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[4]['path']}}" width="140px" height="100px" /></div>
                  <h1>6</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[5]['path']}}" width="140px" height="100px" /></div>                  
                  <h1>7</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[6]['path']}}" width="140px" height="100px" /></div>
                  <h1>8</h1><div class="col-md-2" style="margin-left: -6px;"><img class="img-responsive" src=
                  "{{animalesRandom[7]['path']}}" width="140px" height="100px" /></div>
              </div>
        </div>
      </div>        
      
    </div> 
    
    <div *ngIf="!mostrarFotos && juegoEmpezado">
      <h1>{{mensaje}}</h1>        
        <input type="text" required [(ngModel)]="respuesta" name="respuesta"/>    
        <button  (click)="verificar()" type="button" class="btnVerificar" >Verificar</button>
    </div>
    <div *ngIf="!ocultar && !mostrarSpiner" class="flex-v buttons-container">
      <h1>{{mensajeRespuesta}}</h1>      
      <button  (click)="jugar()" type="button" class="btnReiniciar" >Jugar otra partida!</button>
    </div>
 


</fieldset>  

</form>

  
  

