<div style="text-align:center">
  <h1 class="titulo">{{nuevoJuego.nombre}}</h1>
</div>
<form id="msform"> 
<fieldset>
 <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-12">
    <div class="container">
              <button  (click)="jugar()"  name="next" class="next action-button" >Jugar!</button>  
              <div *ngIf="mostrarFotos && juegoEmpezado">
                  <div class="box">
                     <h2 style="text-align: center;"> Tiempo: {{tiempo}}</h2>                    
                  </div>       
                   <div>
                        <div class="row">
                            <h2>1</h2><div class="col-md-2"><img class="img-responsive" src=
                            "{{animalesRandom[0]['path']}}" width="150px" height="100px" /></div>
                            <h2>2</h2><div class="col-md-2"><img class="img-responsive" src=
                            "{{animalesRandom[1]['path']}}" width="150px" height="100px" /></div>
                            <h2>3</h2><div class="col-md-2"><img class="img-responsive" src=
                              "{{animalesRandom[2]['path']}}" width="140px" height="100px" /></div>
                            <h2>4</h2><div class="col-md-2"><img class="img-responsive" src=
                                "{{animalesRandom[3]['path']}}" width="140px" height="100px" /></div>
                        </div>                   
                        <div class="row">
                            <h2>5</h2><div class="col-md-2"><img class="img-responsive" src=
                            "{{animalesRandom[4]['path']}}" width="140px" height="100px" /></div>
                            <h2>6</h2><div class="col-md-2"><img class="img-responsive" src=
                            "{{animalesRandom[5]['path']}}" width="140px" height="100px" /></div>                  
                            <h2>7</h2><div class="col-md-2"><img class="img-responsive" src=
                            "{{animalesRandom[6]['path']}}" width="140px" height="100px" /></div>
                            <h2>8</h2><div class="col-md-2"><img class="img-responsive" src=
                            "{{animalesRandom[7]['path']}}" width="140px" height="100px" /></div>
                        </div>
                  </div>
              </div>
   
          

    <div *ngIf="!mostrarFotos && juegoEmpezado">
      <h1>{{mensaje}}</h1>     
        <p>Respuesta: </p>
        <input type="text" required [(ngModel)]="nuevoJuego.respuesta" name="respuesta"/>    
     
        <div class="flex-v center-horizontal center-vertical height-100" (click)="verificar()">
          <div class="text-title">Verificar</div>
        </div>      
    </div>
  
    <div *ngIf="!ocultar && !mostrarSpiner" class="flex-v buttons-container">
      <h1>{{mensajeRespuesta}}</h1>
      
        <div class="flex-v center-horizontal center-vertical height-100" (click)="jugar()">
          <div class="text-title">Jugar otra partida!</div>
        </div>
          <div class="text-title">Salir!</div>
      
      
    </div>

  </div> <!--container-->
</div>
<div class="col-sm-1"></div>
</div>

</fieldset>  

</form>

  
  

