<app-cabecera></app-cabecera>
<!-- 
<div class="container" >
   
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
           
                <div class="media-body">
                    <div class="hero-text">
                        <h4 >Menú Principal</h4>
                    </div>
                 </div>
               
             
          </li>
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                    <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div class="media-body">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
          </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores</p>
              </div>
             
            </div> 
          </a>
        </li>
       
        
      </ul>
</div>-->
<!-- 
TODO 
- la navbar non e' responsiva?
-->
<!-- nav bar -->


<div class="wrapper">
    <div> 
      <h1 class="page-title">
        <small style="display:block;">
          Style Guide
        </small> Sicily Theme
      </h1>
  </div>
  <div class="pattern">
    <h2 class="pattern-head">Colors</h2>
    <div class="pattern-body">
      <ul class="colors">
        <li class="swatch c-black">@black #000</li>
        <li class="swatch c-yellow">@yellow #C6E34C</li>
        <li class="swatch c-white">@white #ffffff</li>
        <li class="swatch c-grey">@grey #1B1B1C</li>
      </ul>
    </div>
  </div>
  <div class="pattern">
    <h2 class="pattern-head">Fonts Weight</h2>
    <div class="pattern-body">
      <p>Primary font: 'Muli'</p>
      <p class="bold big">Bold Muli - font-weight: 700</p>
      <p class="regular big">Regular Muli - font-weight: 400</p>
     </div>
  </div>
    
    <div class="pattern">
    <h2 class="pattern-head">Icons</h2>
    <div class="pattern-body">
      <p>Icon Collection: 'Font Awesome'</p>
      
      <p>
        <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i> 
        <i class="fa fa-search fa-3x" aria-hidden="true"></i>
        <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i> 
        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i> 
        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i> 
        <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i> 
        <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>
        <i class="fa fa-calendar fa-3x" aria-hidden="true"></i> 
        <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
      
      </p>
     </div>
  </div>
    
  <div class="pattern">
    <h2 class="pattern-head">Typography</h2>
    <div class="pattern-body">
      <div style="background-color:#000;"> 
          <h1 class="regular titolo-bigger">
            Main Title Example - .regular .titolo-bigger
          </h1>
      </div>
      <div style="background-color:#000;"> 
        <h2 class="regular sottotitolo-big">
          Subtitle Title Example -  .regular .sottotitolo-big
        </h2>
      </div>
      
       <div style="background-color:#000;"> 
        <h2 class="bold titolo-big">
           Title Slide Example - .bold titolo-big
        </h2>
      </div>
      
      <div style="background-color:#000;"> 
        <h2 class="bold sottotitolo-big">
           Sottotitolo Slide Example - .bold .sottotitolo-big
        </h2>
      </div>
      
      <div style="background-color:#000;"> 
        <h2 class="bold titolo-large">
           Title Section Example - .titolo-large
        </h2>
      </div>
      
      <h3 class="bold titolo-small">Title Example Card - .bold .titolo-small </h3>
      
      <h3 class="regular titolo-price">Example Price 100$ - .regular .titolo-small </h3>
      
      <h3 class="huge"> Content Title Example - .huge</h3>
      <p class="thin bigger">Content text lorem  - .thin .bigger</p>
      
      <blockquote>
        <span>3422</span> <br/>
        <strong>Lorem ipsum</strong> dot sia amet - blockquote
      </blockquote>
      
      
      <h3 class="large"> Testimonials title example - .large</h3>
      
      <a href=""> link color </a>
      
     
     </div>
  </div>
    
    <div class="pattern">
    <h2 class="pattern-head">Button</h2>
    <div class="pattern-body">
      <p><a href="" class="button">Button</a></p>
      
     </div>
  </div>
    
  <div class="pattern">
    <h2 class="pattern-head">Image Filter</h2>
    <div class="pattern-body">
      
      <div class="cover" style="background: url('http://www.marchettidesign.net/wp-content/uploads/2013/04/woo-670x376.jpg') center center no-repeat; background-size: cover">
        <div class="cover__filter"></div>
        
      </div>
     
  
      
     </div>
  </div>
    
    
    
  
    
    
    
 

