

.gigantic 		{ letter-spacing: -2px; font-size: 110px; line-height: 1.15;}
.giga, h1  		{ letter-spacing: -1px; font-size: 70px; line-height: 1.15;}
.huge 		    { letter-spacing: -1px;font-size: 49px;line-height: 1.15;}
.large, h2 		{ font-size: 44px; line-height: 1.15; }
.bigger, h3 	{ font-size: 28px; line-height: 1.15; }
.big, h4 			{ font-size: 24px; line-height: 1.3; }
.normal, h5		{ font-size: 18px; line-height: 1.3; }
.small, h6, small 	{ font-size: 14px; }



blockquote {font-weight: 200; font-size: 20px;  padding: 0px 30px; line-height: 1.45; position: relative; color: #383838; border-left: 8px solid #A8EE12; }
blockquote span{font-size:42px;font-weight:bold;}

a{color:#00DDD2}



/* Buttons */
.button{ display: inline-block;color:#fff; padding: 14px 30px; font-weight: bold; text-transform: uppercase; font-weight:normal; text-shadow: none; text-decoration:none; 
  
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93d10d+0,03dbd1+100 */
background: #93d10d; /* Old browsers */
background: -moz-linear-gradient(left, #93d10d 0%, #03dbd1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #93d10d 0%,#03dbd1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #93d10d 0%,#03dbd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d10d', endColorstr='#03dbd1',GradientType=1 ); /* IE6-9 */

}
.button:hover{background: #333; color:#fff;text-decoration: none;}


.cover{position:relative; width:100%; height: 600px;}
.cover__filter{background: #4A4343; width:100%; height:100%; position: absolute; top:0; left:0; opacity: 0.5}







/* VARABLES 
-----------------------------------------------*/
$fallBackFont:  "Helvetica", "Arial", sans-serif;
$black: #000000;
$yellow: #C6E34C;
$white: #FFFFFF;
$gray: #1B1B1C;
$blue: #E83919;
$liteGray:purple;

/* TIPOGRAFY
-----------------------------------------------*/

.bold{font-weight: 700;}
.regular{font-weight: 400;}

.titolo-bigger{  
    font-size: 66px; 
    color:$white;
}

.titolo-big{  
    font-size: 40px; 
    color:$white;
}

.sottotitolo-big{  
    font-size: 30px; 
    color:$white;
}

.titolo-large{  
    font-size: 35px; 
    color:$white;
}

.titolo-small{  
    font-size: 25px; 
    color:$black;
}

.price{
  font-size: 40px; 
   color:$black;
}

/* LAYOUT
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}


/* GLOBAL
-----------------------------------------------*/
h1.page-title {
  small {
    font-weight: normal;
    color: $gray;
  }
}

.pattern {
  margin-bottom: 2em;
  position: relative;
}

.pattern-head {
  margin: 2em 0;
  font-family: $fallBackFont;
  font-size: 70%;
  font-weight: normal;
  padding: 1em 0;
  color: $gray;
  border-bottom: 1px solid 
}


/* LAYOUT
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* COLORS
-----------------------------------------------*/
.colors {
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0em;
    padding-top: 1.9em;
    vertical-align: middle;
    position: relative;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd; 
  }
}
.c-black {
  background-color: $black;
  color: $white;
}
.c-white {
  background-color: $white;
  color: $black;
}
.c-grey {
  background-color: $gray;
  color: $white;
}

.c-yellow {
  background-color: $yellow;
  color: $white;
}

.fa{margin-right:30px;margin-top:20px;}

/* FONTS
-----------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Muli:400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body, .muli {
  font-family: 'Muli', sans-serif;
}

.serif {
  font-family: 'Roboto Slab', Georgia, Times, "Times New Roman", serif;
}

.script {
  font-family: 'Satisfy', cursive;
}

/* TYPOGRAPHY
-----------------------------------------------*/

p {
  margin: 0 0 1em 0;
}


.muted {
  color: #999;
}

.meta {
  font-size: 80%;
  color: #999;
}

/* BUTTONS
-----------------------------------------------*/


.btn, button {
  display: inline-block;
  background: red;
  color: white;
  line-height: 1;
  padding: 1em;
  padding: 0.4em 0.7em 0.4em 0.7em;
  border: 0;
  text-align: center;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
  border-radius: 3px;
}

.btn:hover, button:hover, .btn:focus, button:focus {
  background: $gray;
  color: white;
}

.btn.alt {

  &:hover, &:focus {
    background: $gray;
  }
}

.btn-border {
  background: none;
  border: 1px solid $blue;
  color: $blue;
  &:hover {
    background: $gray;
    border-color: $gray;
    color: $white;
  }
}

.btn-big {
  font-size: 1.5em;
}

.btn-small {
  font-size: .8em;
}

/* ELEMENTS
-----------------------------------------------*/

.border-radius {
  border-radius: 3px;
}

.transition {
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}



/* FORMS RADIO BUTTONS CHECK BOXES
-----------------------------------------------*/

form {
  margin-bottom: 1em;
  border-radius: 3px;
  max-width: 400px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.field-wrapper {
  display: block;
  position: relative;
  margin-bottom: 0.25em;
}

::-webkit-input-placeholder {
  color: $gray;
}

label.float-label {
  position: absolute;
  top: -13px;
  left: 0;
  font-size: 12px;
  color: $gray;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
  opacity: 0;
  font-weight: bold;
  &.on {
    color: #b9b9b9;
  }
  &.show {
    top: -15px;
    opacity: 1;
  }
}

select, textarea {
  display: inline-block;
  padding: 0 .4em 0 .4em;
  padding: .5em;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 50px;
  max-width: 550px;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

input {
  &[type="text"], &[type="password"], &[type="file"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    display: inline-block;
    padding: 0 .4em 0 .4em;
    padding: .5em;
    vertical-align: middle;
    border-radius: 3px;
    min-width: 50px;
    max-width: 550px;
    -webkit-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
  }
}

.uneditable-input, .faux-file {
  display: inline-block;
  padding: 0 .4em 0 .4em;
  padding: .5em;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 50px;
  max-width: 550px;
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms;
}

textarea {
  width: 100%;
  min-height: 36px;
  border: 3px solid $gray;
  margin: 0 0 1em 0;
}

input {
  &[type="text"], &[type="password"], &[type="file"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    width: 100%;
    min-height: 36px;
    border: 3px solid $gray;
    margin: 0 0 1em 0;
  }
}

.uneditable-input, .faux-file {
  width: 100%;
  min-height: 36px;
  border: 3px solid $gray;
  margin: 0 0 1em 0;
}

textarea:hover {
  border: 3px solid #b9b9b9;
}

input {
  &[type="text"]:hover, &[type="password"]:hover, &[type="file"]:hover, &[type="datetime"]:hover, &[type="datetime-local"]:hover, &[type="date"]:hover, &[type="month"]:hover, &[type="time"]:hover, &[type="week"]:hover, &[type="number"]:hover, &[type="email"]:hover, &[type="url"]:hover, &[type="search"]:hover, &[type="tel"]:hover, &[type="color"]:hover {
    border: 3px solid #b9b9b9;
  }
}

.uneditable-input:hover, .faux-file:hover {
  border: 3px solid #b9b9b9;
}

textarea:focus {
  border: 3px solid $blue;
  outline: none;
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="file"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus {
    border: 3px solid $blue;
    outline: none;
  }
}

.uneditable-input:focus, .faux-file:focus {
  border: 3px solid $blue;
  outline: none;
}

input {
  -webkit-appearance: none;
  curser: pointer;
}

textarea {
  -webkit-appearance: none;
  curser: pointer;
  height: 150px;
}

input {
  &[type=submit] {
    display: inline-block;
    background: $blue;
    color: white;
    line-height: 1;
    padding: 1em;
    padding: 0.4em 0.7em 0.4em 0.7em;
    border: 0;
    text-align: center;
    -webkit-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
    border-radius: 3px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    &:hover, &:focus {
      background: $gray;
      color: white;
    }
  }
  &[type="radio"] + label, &[type="checkbox"] + label {
    color: $black;
    font-size: 1em;
    curser: pointer;
  }
  &[type="radio"], &[type="checkbox"] {
    position: absolute;
    opacity: 0;
    curser: pointer;
    -webkit-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
  }
  &[type="radio"]:hover, &[type="checkbox"]:hover, &[type="radio"]:focus, &[type="checkbox"]:focus, &[type="radio"]:hover + label, &[type="checkbox"]:hover + label, &[type="radio"]:focus + label, &[type="checkbox"]:focus + label {
    border-color: $gray;
    color: $gray;
  }
  &[type="radio"]:checked + label, &[type="checkbox"]:checked + label {
    color: black;
    position: relative;
  }
  &[type="radio"] + label::before {
    content: '';
    width: 1em;
    height: 1em;
    margin-right: 0.125em;
    position: relative;
    top: 0.4em;
    display: inline-block;
    background-color: transparent;
    border-radius: 2em;
    border: 4px solid $gray;
  }
  &[type="checkbox"] {
    + label::before {
      content: '';
      width: 20px;
      height: 20px;
      margin-right: 0.125em;
      position: relative;
      top: 0.25em;
      display: inline-block;
      background-color: $gray;
      border-radius: 5px;
    }
    &:checked + label::after {
      content: '✔';
      display: block;
      position: absolute;
      top: 0;
      left: 4px;
      width: 10px;
      height: 10px;
      color: #fff;
    }
  }
  &[type="radio"]:checked + label {
    &::before {
      border-color: $gray;
    }
    &::after {
      content: '';
      width: .75em;
      height: .75em;
      position: absolute;
      top: .35em;
      left: .4em;
      display: inline-block;
      background-color: $gray;
      border-radius: 2em;
    }
  }
}

/* PAGINATION
-----------------------------------------------*/

ul.page-numbers {
  margin: 0;
  padding: 0;
}

.pagination {
  .page-numbers li {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  a {
    color: $white;
    background: $gray;
    display: inline-block;
    text-align: center;
    padding: 1px;
    width: 24px;
    height: 24px;
  }
  span {
    color: $white;
    background: $gray;
    display: inline-block;
    text-align: center;
    padding: 1px;
    width: 24px;
    height: 24px;
    &.current {
     
    }
  }
  .active_page {
    
  }
  a:hover {
    background: $liteGray;
  }
}

.page_navigation a:hover {
  background: $liteGray;
}

/* BACKGROUNDS
-----------------------------------------------*/

[class*='bg-'] {
  padding: 2em;
}

.bg-red {

  color: $white;
}

.bg-black {
  background: $black;
  color: $white;
}

.bg-grey {
  background: $liteGray;
}

/*.imagenDeMenu{
width: 80px;
height: 70px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    }*/