<h1>ANIMALES</h1>

    <button  (click)="jugar()"  name="next" class="next action-button" >Nuevo Numero</button>
  
    <div class="text-title">Jugar!</div>
   
      <div class="row"><h2 style="text-align: center;">tiempo: {{tiempo}}</h2></div>
      <div class="row">
        <h2>1</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[0]['path']}}" width="150px" height="100px" /></div></a>
        <h2>2</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[1]['path']}}" width="150px" height="100px" /></div></a>
      </div>
      <div class="row">
        <h2>3</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[2]['path']}}" width="140px" height="100px" /></div></a>
        <h2>4</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[3]['path']}}" width="140px" height="100px" /></div></a>
      </div>
      <div class="row">
        <h2>5</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[4]['path']}}" width="140px" height="100px" /></div></a>
        <h2>6</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[5]['path']}}" width="140px" height="100px" /></div></a>
      </div>
      <div class="row">
        <h2>7</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[6]['path']}}" width="140px" height="100px" /></div></a>
        <h2>8</h2><a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src=
        "{{animales[7]['path']}}" width="140px" height="100px" /></div></a>
      </div>
    
  

