<div style="text-align:center">
    <h1>{{nuevoJuego.nombre}}</h1>
</div>
<form id="msform">    
    <fieldset>
        <button *ngIf="nuevoJuego.numeroSecreto==0" (click)="generarNumero()"  name="next" class="next action-button" >Nuevo Numero</button>
        <p class="notificacion" [hidden]="nuevoJuego.numeroSecreto==0">Se ha generado un nuevo número secreto</p>
        
        <br>
      <h3 *ngIf="nuevoJuego.numeroSecreto!=0" class="fs-title">Ingrese su respuesta</h3>
      <input *ngIf="nuevoJuego.numeroSecreto!=0"  [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" />
      
      <!-- <h1>{{nuevoJuego.numeroIngresado}}  </h1>-->
       <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" type="button" class="btnVerificar" >Verificar</button>
        <br><br>
        <div id="msj" style="color: #ffffff !important;" >{{Mensajes}}</div>  
     
    </fieldset>
   <br>
    <h3 [hidden]="!nuevoJuego.gano">Felicitaciones!! Adivino el número</h3>
    <!-- <h3 [hidden]="nuevoJuego.gano"> Usted aún no gano</h3> -->
</form>
  