<div style="text-align:center">
    <h1>{{nuevoJuego.nombre}}</h1>
</div>
<form id="msform">    
   <fieldset>
      <ul style="list-style:none;margin-left: 417px; color:white;">
         <li>Primer número: <input value={{nuevoJuego.primerNumero}}  placeholder="Primer Numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/></li>
         <li>Operador: <input value={{nuevoJuego.operador}}  placeholder="Operador" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/></li>
         <li>Segundo número: <input  value={{nuevoJuego.segundoNumero}} placeholder="Segundo Numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/></li>
         <li>Respuesta: <input [(ngModel)]="nuevoJuego.resultadoUsuario" placeholder="ingrese Respuesta" name="numeroIngresado" type="text" class="form-control" style="width:50%"/></li>
         <li></li>        
       </ul>       
       <br>
           <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-outline-warning btn-lg" style="margin-left: 50%;" >Nuevo</button></h2>
          <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg" style="margin-left: 50%;" >Verificar {{Tiempo}} </button></h2>
           
       <div id="snackbar" >{{Mensajes}}</div>    <br><br><br><br><br>
      </fieldset>
</form>
  
