<div style="text-align:center">
    <h1>{{nuevoJuego.nombre}}</h1>
</div>
<form id="msform">    
   <fieldset>
        <button  (click)="generarnumero()"  name="next" class="next action-button" >Nuevo Numero</button>
        <br>
        <h3 class="fs-title">Ingrese primer numero</h3>
        <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="primerIngresado" type="text" class="form-control" />
        <h3 class="fs-title">Ingrese primer numero</h3>
            <ul>
                <li *ngFor="let item of operadorLista">
                  {{item}}
                </li>
              </ul>          
      <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="operadorIngresado" type="text" class="form-control" />
      <button *ngIf="nuevoJuego.numeroIngresado!=0" (click)="verificar()" type="button" class="btn btn-outline-dark" style="color:rgba(251, 255, 0, 0.979); border-color: #ffffff00;">Verificar</button>
      <br><br>
      <div id="snackbar">{{Mensajes}}</div>       
    </fieldset>
    <br>
    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">--- Usted aún no gano ---</h3>
</form>
  
