<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->
<!-- 
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Juego</th>
        <th>Jugador</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado">
        <td>{{juego.nombre}} </td>
        <td>{{juego.jugador}} </td> 
        <td *ngIf="juego.gano">Gano </td>   
        <td *ngIf="!juego.gano">Perdio</td>     
      </tr>
     
    </tbody>
  </table> -->

  <section id="tabs" class="project-tab">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                 
                  <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <table class="table" cellspacing="0" style="text-align: center">
                              <thead>
                                  <tr>
                                    <th>Jugador</th>
                                    <th>Juego</th>
                                    <th>Resultado</th>
                                  </tr>
                              </thead>
                              <tbody style="text-align: center">
                                  <tr *ngFor="let juego of listado">
                                      <td>{{juego['usuario']}}</td>
                                      <td>{{juego['nombre']}}</td>
                                      <td *ngIf="juego['gano']">gano</td>
                                      <td *ngIf="!juego['gano']">perdio</td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>
  