<div style="text-align:center">
    <h1 class="titulo">{{nuevoJuego.nombre}}</h1>
</div>
<form id="msform"> 
 <fieldset>
   <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
      <div class="container">
            <div class="bordeNumeros">
                  <button  *ngIf="botonComenzarVerificar" (click)="primerJuego()"  class="next action-button" >Jugar!</button>
                  <div *ngIf="!botonComenzarVerificar" class="img"><br>             
                      <h1>Seleccione una opción</h1>
                      <div class="box">
                          <button id="botonPiedra" class="button"(click)="generarPartida(1)"> Piedra </button> 
                          <button id="botonPapel"  class="button"(click)="generarPartida(2)"> Papel </button>
                          <button id="botonTijera" class="button"(click)="generarPartida(3)"> Tijera </button>
                      </div>     
                      <br>
                      <div> 
                          <img class="imagen" src="./assets/PPT/img/usuario.png"  >
                          <img class="imagen" src="./assets/PPT/img/neo.png"  >
                      </div>           
                      <hr class="style12">               
                      <!-- resultados -->
                      <div class="resultadosImagenes">
                            <img class="imagenJuego" id="resultado1">
                            <img class="imagenJuego" id="resultado2">
                      </div>
                      <section id="msjPuntos"></section>
                      <h3 *ngIf="labelPuntos == true" >
                          <p class= "resultados">{{puntos}} Vos ------|------  Rival  {{puntosRival}}</p>
                      </h3>
                      <h3 *ngIf="labelGanaste == true" >
                          <p class= "resultados"> Ganaste!!! <i class="far fa-thumbs-up"></i></p>
                      </h3>
                      <h3 *ngIf="labelPerdiste == true" >
                          <p class= "label-danger"> Perdiste :(<i class="far fa-thumbs-down"></i></p>
                      </h3>        
                  </div>
                  <!-- <div class = "botones">                 
                        <button  type="buttons"   class="next action-button" >Salir</button>                
                  </div> -->
            </div>  <!--bordeNumeros-->           
      </div> <!--container-->
    </div>
    <div class="col-sm-1"></div>
  </div>

</fieldset>  

</form>
