/* .fondo{ */

    /* background-image: url(".../../../docs/assets/imagenes/color_principal.jpg"); */
      /* margin-top: -60px;
      background-size: cover;
      background-repeat: no-repeat;
    } */
    .secreta{
      color:#ffc107;
      text-align: center
    }
    
    .titulo{
      text-align: center;
      font-family: Tahoma, Arial, sans-serif;
      color: rgb(0, 0, 0);
      /* margin: 50px 0; */
      margin-bottom: 10px;
      margin-top: 30px;
      font-size: 3.5rem;
      text-align: center;
    }
    #msform {
      width: 40%;
      text-align: center;
      position: relative;
      margin-left: 8%;
      margin-right: 8%;
    }
    #msform fieldset {
      background: rgba(67, 72, 82, 0.884);
      border: 0 none;
      border-radius: 3px;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
      padding: 20px 30px;
      box-sizing: border-box;
      width: 200%;
      margin: 0 10%;
      
      /*stacking fieldsets above each other*/
      position: relative;
    }
    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
      display: none;
    }
    /*inputs*/
    #msform input, #msform textarea {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
    }
    /*buttons*/
    #msform .action-button {
      width: 170px;
      background: rgba(0, 225, 255, 0.568);
      font-weight: bold;
      color: rgb(0, 24, 88);
      border: 0 none;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px 5px;
      margin: 10px 5px;
    }
    #msform .action-button:hover, #msform .action-button:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    }
    

    h1 {
      text-align: center;
      font-family: Tahoma, Arial, sans-serif;
      color: #06D85F;
      /* margin: 50px 0; */
      margin-bottom: 10px;
      margin-top: 30px;
      font-size: 3.5rem;
      text-align: center;
    }

  #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
     
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
  }
  #snackbar.Ganador {
      background-color: rgba(7, 55, 214, 0.973);
  }
  #snackbar.Perdedor {
      background-color: rgb(255, 0, 0);
  }
  #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  .loader {
      font-size: 10px;
      margin: 50px auto;
      text-indent: -9999em;
      width: 11em;
      height: 11em;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #dd3f61 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      border: solid rgb(165, 3, 79);
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .loader:before {
      width: 50%;
      height: 50%;
      background: #ffffff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    .loader:after {
      
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    